
@{
    ViewData["Title"] = "Thông Tin Liên Hệ";
}
<section id="aa-contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-contact-area">
                    <div class="aa-contact-top">
                        <h2>Chúng tôi luôn luôn sẵng sàng hỗ trợ Quý khách!</h2>

                    </div>
                    <!-- contact map -->
                    <div class="aa-contact-map">

                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.6511106447715!2d106.68001421428689!3d10.761348962415688!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f1b888ab357%3A0xc469f6e800231314!2zMjgwIEFuIETGsMahbmcgVsawxqFuZywgUGjGsOG7nW5nIDQsIFF14bqtbiA1LCBI4buTIENow60gTWluaCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2sbd!4v1576401973478!5m2!1svi!2sbd" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                    <!-- Contact address -->
                    <div class="aa-contact-address">
                        <div class="row">

                            <div class="col-md-4">
                                <div class="aa-contact-address-right">
                                    <address>
                                        <h4>Shop3</h4>
                                        <p>Uy Tín - Chất Lượng - Tận Tình - Nhanh Nhẹn</p>
                                        <p><span class="fa fa-home"></span>280 An Dương Vương, Q5, TP. HCM</p>
                                        <p><span class="fa fa-phone"></span>025251325</p>
                                        <p><span class="fa fa-envelope"></span>Email: shop3@gmail.com</p>
                                    </address>
                                </div>
                            </div>
                        </div>

                        <div id="fb-root"></div>
                        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v4.0&appId=100776611402531&autoLogAppEvents=1"></script>
                        <div class="fb-page" data-href="https://www.facebook.com/EcommerceNhom3-100776611402531/" data-tabs="timeline" data-width="2000" data-height="500" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                            <blockquote cite="https://www.facebook.com/EcommerceNhom3-100776611402531/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/EcommerceNhom3-100776611402531/">ecoNhom3</a></blockquote>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>