
@{
    ViewData["Title"] = "Giỏ Hàng";
}

<!-- Cart view section -->
<section id="cart-view">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cart-view-area">
                    <div class="cart-view-table">
                        <form action="">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Hình</th>
                                            <th>Tên sản phẩm</th>
                                            <th>Số lượng</th>
                                            <th>Size</th>
                                            <th>Đơn giá</th>
                                            <th>Thành tiền</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                            <tr>
                                                <td width="70" height="60"> </td>
                                                <td> </td>
                                                <td width="80px">
                                                    
                                                </td>
                                                <td>  </td>
                                                <td>  </td>
                                                <td>  </td>
                                                <td> <a href="#" onclick="return confirm('Bạn có chắc muốn xóa sản phẩm này?');" class="btn btn-danger btn-sm">Xóa</a> </td>
                                            </tr>
                                       

                                    </tbody>
                                </table>
                            </div>
                        </form>
                        <!-- Cart Total view -->
                        <div class="cart-view-total">
                         
                            <table class="aa-totals-table">
                                <tbody>

                                    <tr>
                                        <th>Tổng Tiền</th>
                                        <td>0 đ</td>
                                    </tr>
                                </tbody>
                            </table>
                            <a href="#" class="aa-cart-view-btn">Thanh Toán</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Cart view section -->