@model SHOP3.Models.ThanhVien
@{
    ViewData["Title"] = "Đăng Ký";

}
<!-- login -->
<section id="aa-myaccount">
    <div class="container" style="float: left;  position: relative;    left:40%;">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-myaccount-area">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="aa-myaccount-login">
                                <h4>Đăng Ký Tài Khoản</h4>
                                
                                <form asp-action="Create" asp-controller="ThanhViens" enctype="multipart/form-data" class="aa-login-form">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group">
                                        Họ Tên
                                        <input asp-for="TenTv" class="form-control" />
                                        <span asp-validation-for="TenTv" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        Giới Tính
                                        <input asp-for="GioiTinh" class="form-control" />
                                        <span asp-validation-for="GioiTinh" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        Ngày Sinh
                                        <input asp-for="NgaySinh" class="form-control" />
                                        <span asp-validation-for="NgaySinh" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        Địa Chỉ
                                        <input asp-for="DiaChi" class="form-control" />
                                        <span asp-validation-for="DiaChi" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        Điện Thoại
                                        <input asp-for="DienThoai" class="form-control" />
                                        <span asp-validation-for="DienThoai" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        Email
                                        <input asp-for="Email" class="form-control" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        Loại TK 
                                        <input class="form-control" placeholder="Khách Hàng" readonly />
                                    </div>
                                    <div class="form-group">
                                        Tên Đăng Nhập
                                        <input asp-for="TaiKhoan" class="form-control" />
                                        <span asp-validation-for="TaiKhoan" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        Mật Khẩu
                                        <input asp-for="MatKhau" class="form-control" />
                                        <span asp-validation-for="MatKhau" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="aa-browse-btn">Đăng Ký</button>
                                        
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>